* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #E6E8E6;
    padding: 20px;
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background: #E6E8E6;
    color: #191919;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    border: solid #191919 1.5px;
    height: 100px;
    width: 97.5%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #191919;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.2);
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    border-radius: 4px;
}

.search-bar {
    display: flex;
    max-width: 600px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #191919;
    border-radius: 4px 0 0 4px;
}

.search-btn {
    padding: 0 15px;
    background: #E6E8E6;
    color: #191919;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.filter-dropdown select {
    padding: 10px 20px;
    border: 1px solid #191919;
    border-radius: 4px;
}

main {
    width: 97.5%;
    margin: 0 auto;
    background: #E6E8E6;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    border: solid #191919 1.5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.discounted_image_product img {
    width: 100%; 
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: fill;
    margin-bottom: 10px;
    border-radius: 4px;
}

.discounted_image_product {
    padding: 15px;
    text-align: center;
    border: solid #191919 3px;
    border-bottom: solid #191919 6px;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.discounted_image_product:hover {
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: #191919;
    color: #E6E8E6;
    z-index: 1;
    transform: scale(1.2);
}

.old-price {
    color: #888;
    font-size: 0.9rem;
}

.new-price {
    font-weight: bold;
    color: #191919;
}

.contact-info {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: #E6E8E6;
    padding: 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: solid #191919 1.5px;
}

footer {
    text-align: right;
}
